@model IEnumerable<ShopOnline.Areas.NhaSanXuat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Nhà sản xuất
        <small>Danh sách nhà sản xuất</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Nhà sản xuất</li>
    </ol>
</section>
<div class="col-md-2">
    @Html.ActionLink("Thêm Mới", "Create")
</div>
<div class="col-md-12">
    <div class="box">
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TenNSX)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserAdmin.UserName)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenNSX)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserAdmin.UserName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID_NSX }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID_NSX }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID_NSX })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>